@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --violet: hsl(257, 40%, 49%);

  --soft-magenta: hsl(300, 69%, 71%);
  
  --weights-400: 400;

  --weights-600: 600;

  --open-sans: 'Open Sans', sans-serif;

  --poppins: 'Poppins', sans-serif;
}

*{
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--open-sans);
  font-weight: var(--weights-400);
}

.content {
  background-color: var(--violet);
  color: white;
  height: 100vh;
}

.header-container {
  background: url(./images/bg-mobile.svg) no-repeat;
  background-size: cover;
  z-index: 1;
}

.logo {
  width: 30vw;
}

.img-header-content {
  display: flex;
}

.img-header{
  width: 85vw;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--poppins);
  align-items: center;
  margin: 1.5rem;
}

.title {
  font-weight: var(--weights-600);
  font-size: 1.5em;
  line-height: 1.5em;
}

.paragraph {
  padding: 1.5rem 0;
  font-weight: var(--weights-400);
  font-size: 1em;
}

.btn-register {
  color: var(--violet);
  font-size: 0.8em;
  width: 11rem;
  height: 2.2rem;
  border: none;
  border-radius: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
