@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --violet: hsl(257, 40%, 49%);

  --soft-magenta: hsl(300, 69%, 71%);
  
  --weights-400: 400;

  --weights-600: 600;

  --open-sans: 'Open Sans', sans-serif;

  --poppins: 'Poppins', sans-serif;
}

*{
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--open-sans);
  font-weight: var(--weights-400);
}

.content {
  background-color: var(--violet);
  color: white;
  background-size: cover;
  height: 100%
}

.header-container {
  background: url(./images/bg-mobile.svg);
  background-size: cover;
}

.img-header-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.logo {
  width: 40%;
}

.img-header-content {
  display: flex;
}

.img-header{
  width: 100%;
  margin-top: 3.6rem;
}

.main {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--poppins);
  align-items: center;
  padding: 1.2rem 2rem;
}

.title {
  font-weight: var(--weights-600);
  font-size: 1.5em;
  line-height: 1.5em;
}

.paragraph {
  margin: 1.5rem 0;
  font-weight: var(--weights-400);
  font-size: 1em;
  line-height: 1.5em;
}

.btn-register {
  color: var(--violet);
  font-size: 0.8em;
  width: 12rem;
  height: 2.5rem;
  border: none;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 70%);
  outline: none;
  transition: hover 500ms ease;
}

.btn-register:hover {
  color: white;
  background-color: var(--soft-magenta);
  cursor: pointer;
}

.section-social-media {
  display: flex;
  justify-content: center;
}

.btn-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0.5rem;
  transition: hover 500ms ease;
}

.btn-social-media:hover {
  border: 1px solid var(--soft-magenta);
  color: var(--soft-magenta);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
